// fonts
$font-Inter: "Inter", serif;
// fonts

// colors
$color-white: #FFFFFF;
$color-black: #121225;
$color-bg-silver: #F3FFF8;
$color-blue-10: rgba(0, 113, 227, 0.1);
$color-blue: #0071E3;
;
// colors
