// follower
.follower {
  margin-bottom: 20px;

  .container {
    max-width: 1480px;
    padding: 0;
  }

  .main_title {
    position: relative;
    z-index: 2;
    text-align: center;
  }

  .tabs {
    position: relative;
    z-index: 2;
    margin: 20px auto 50px auto;
    max-width: 669px;
    height: 52px;
    border: 1px solid $color-grey;
    border-radius: 99px;
    display: flex;
    align-items: center;
    justify-content: center;

    @include media('lg') {
      margin: 20px auto 30px auto;
    }

    @include media('md') {
      padding: 14px;
      border-radius: 26px;
      height: 171px;
      flex-direction: column;
    }

    @include media('sm') {
      max-width: 100%;
    }

    &_in {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 38px;
      position: relative;

      @include media('md') {
        flex-direction: column;
        gap: 20px;
        width: 100%;
      }
    }

    .tab {
      font-weight: 700;
      font-size: 14px;
      line-height: 100%;
      color: $color-black;
      height: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      position: relative;

      @include media('md') {
        width: 100%;
        color: $color-grey;
        text-align: center;
      }

      &:last-child {
        &::after {
          display: none;
        }
      }

      &::after {
        display: none;
        content: '';
        position: absolute;
        height: 1px;
        bottom: -11.5px;
        width: calc(100% + 28px);
        background: $color-grey;
        opacity: 20%;

        @include media('md') {
          display: flex;
        }
      }

      &.active {
        color: $color-blue;

        &::before {
          content: '';
          position: absolute;
          left: 0;
          right: 0;
          margin: 0 auto;
          bottom: -17px;
          width: 60px;
          height: 3px;
          border-radius: 99px;
          background: $color-blue;

          @include media('md') {
            display: none;
          }
        }
      }
    }
  }

  &_in {
    background: $color-white;
    border-radius: 40px;
    padding: 70px 20px;
    box-shadow: 0px 10px 30px 0px rgba(42, 71, 54, 0.05);

    @include media('md') {
      padding: 30px 20px;
      border-radius: 30px;
    }
  }

  &_block {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 38px;

    @include media('lg') {
      flex-direction: column;
      gap: 30px;
    }
  }

  &_text {

    &_in {
      display: grid;
      grid-template-columns: repeat(2,1fr);
      gap: 50px 30px;
      max-width: 595px;

      @include media('lg') {
        gap: 30px 20px;
      }
    }

    h6 {
      font-weight: 700;
      font-size: 18px;
      line-height: 100%;
      color: $color-black;
      margin-bottom: 20px;

      @include media('lg') {
        font-size: 14px;
        margin-bottom: 10px;
      }
    }

    p {
      font-weight: 400;
      font-size: 14px;
      line-height: 100%;
      color: $color-grey;

      @include media('lg') {
        font-size: 13px;
      }
    }

    a {
      width: max-content;
      display: block;
      margin-top: 50px;
      font-weight: 500;
      font-size: 16px;
      line-height: 100%;
      letter-spacing: -2%;
      color: $color-white;
      padding: 16.5px 20.5px;
      border-radius: 99px;
      background: $color-blue;

      @include media('lg') {
        padding: 11px 33.5px;
        font-size: 13px;
        margin: 20px auto 0 auto;
      }
    }
  }

  &_img {
    max-width: 598px;
    flex-shrink: 0;
    position: relative;

    .circle_blue {
      width: 508px;
      height: 397px;
      background: rgba(212, 254, 255, 0.6);
      filter: blur(100px);
      position: absolute;
      left: -20px;
      top: -40px;

      @include media('lg') {
        left: 0;
        top: 0;
        width: 238px;
        height: 164px;
        filter: blur(41px);
      }
    }

    .circle_pink {
      width: 380px;
      height: 299px;
      background: rgba(249, 212, 255, 0.6);
      filter: blur(100px);
      position: absolute;
      right: 0;
      bottom: 0;

      @include media('lg') {
        width: 179px;
        height: 123px;
        filter: blur(41px);
      }
    }

    img {
      position: relative;
      z-index: 2;
      width: 100%;
    }
  }
}
// follower
