// post
.post {
  .container {
    max-width: 1056px;
  }

  &_title {
    margin-top: 80px;

    @include media('md') {
      margin-top: 30px;
    }

    span {
      font-weight: 400;
      font-size: 14px;
      line-height: 140%;
      color: $color-grey;
      margin-bottom: 10px;
    }
  }

  &_head {
    margin: 40px 0 20px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;

    @include media('md') {
      margin: 20px 0;
    }
  }

  &_head_left {
    display: flex;
    align-items: center;
    gap: 20px;

    span {
      font-weight: 600;
      font-size: 15px;
      line-height: 100%;
      letter-spacing: -2%;
      color: $color-blue;
    }
  }

  .share_btn {
    font-weight: 600;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -2%;
    color: $color-blue;
    display: flex;
    align-items: center;
    gap: 10px;
    background: $color-white;
    padding: 9px 12px;
    border-radius: 99px;
  }

  .share_links {
    display: none;
    padding: 16px 10px;
    border-radius: 16px;
    background: $color-white;
    width: 202px;
    flex-direction: column;
    gap: 10px;

    &.active {
      display: flex;
    }

    a {
      font-weight: 400;
      font-size: 14px;
      line-height: 18px;
      color: $color-black;
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 6px 10px;
      border-radius: 6px;
      transition: .2s ease;

      &:hover {
        background: rgba(0, 113, 227, 0.1);
      }
    }
  }

  &_in {
    border-radius: 40px;
    box-shadow: 0px 10px 30px 0px rgba(42, 71, 54, 0.05);
    padding: 50px;
    background: $color-white;
    display: flex;
    flex-direction: column;
    gap: 20px;

    @include media('md') {
      border-radius: 30px;
      padding: 30px 20px;
    }

    p {
      font-weight: 300;
      font-size: 17px;
      line-height: 160%;
      color: $color-black;

      a {
        color: $color-blue;
        text-decoration: underline;
      }

      @include media('md') {
        font-size: 14px;
      }
    }

    ul {
      padding-left: 20px;
    }

    li {
      font-weight: 300;
      font-size: 17px;
      line-height: 160%;
      color: $color-black;
      list-style-type: disc;

      @include media('md') {
        font-size: 14px;
      }
    }

    blockquote {
      padding: 20px 30px 20px 40px;
      font-weight: 400;
      font-size: 16px;
      line-height: 160%;
      color: $color-black;
      position: relative;

      @include media('md') {
        font-size: 13px;
        padding: 12px 12px 12px 20px;
      }

      &::before {
        content: '';
        position: absolute;
        height: 100%;
        left: 0;
        top: 0;
        width: 2px;
        background: $color-grey;
      }
    }

    h2 {
      font-weight: 600;
      font-size: 28px;
      line-height: 140%;
      color: $color-black;

      @include media('md') {
        font-size: 24px;
      }
    }

    h3 {
      font-weight: 600;
      font-size: 24px;
      line-height: 140%;
      color: $color-black;

      @include media('md') {
        font-size: 22px;
      }
    }

    h4 {
      font-weight: 600;
      font-size: 22px;
      line-height: 140%;
      color: $color-black;

      @include media('md') {
        font-size: 20px;
      }
    }

    h5 {
      font-weight: 600;
      font-size: 20px;
      line-height: 140%;
      color: $color-black;

      @include media('md') {
        font-size: 18px;
      }
    }

    h6 {
      font-weight: 600;
      font-size: 18px;
      line-height: 140%;
      color: $color-black;

      @include media('md') {
        font-size: 16px;
      }
    }
  }
}
.news_post {
  .main_title {
    @include media('md') {
      text-align: left;
    }
  }
}
// post
